<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <!--<add key="urlBaseApi" value="https://bnodvarmer-b.banobras.gob.mx:7042/api/" />-->
    <add key="urlBaseApi" value="https://localhost:7042/api/" />
    <add key="urlToken" value="Usuario/Login" />
    <add key="urlExcelLoad" value="Portafolios/ExcelLoad" />
    <add key="EnvironmentVariable" value="SIVARMER_API_SIMEFIN_WinS_DEV" />
    <!--Duración de 1 minuto-->
    <add key="TimeIntervalPerMinute" value="60000" />
    <!--Cada cuánto tiempo en minutos debe ejecutarse-->
    <add key="MinutesRunning" value="1" />
  </appSettings>

  <log4net>
    <appender name="WSPortfolioLoad" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\WS.RiesgosSimefin.PortfolioLoad\WSPortfolioLoad.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <!--<layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]%n" />
        <param name="Footer" value="[Footer]%n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>-->
      <layout type="Riesgos.Simefin.WindowsService.PortfolioLoad.TimestampedPatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]%n" />
        <param name="Footer" value="[Footer]%n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="WSPortfolioLoad" />
    </root>
  </log4net>
  
  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>
  
</configuration>