<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	
  <connectionStrings>
    <!--<add name="OracleConexion" connectionString="Data source=bnodora26-b:1523/Qavarmer; User Id=Riesvarm; Password=Zoh6pie8ci1i04NN1$;" providerName="Oracle.DataAccess.Client"/>-->
    <add name="OracleConexion" connectionString="Data Source={0}:{1}/{2}; User Id={3}; Password={4};" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
	
  <appSettings>
    <add key="CorreoSalida" value="Api.sivarmer@banobras.gob.mx" />
    <add key="CorreoAsunto" value="Evidencia de ejecución WEB API SIVARMER" />
    <!--<add key="CorreoUsuario" value="Aclspeisrv" />
    <add key="CorreoPass" value="Banobras12012023$" />-->
    <!--<add key="Correos" value="vianey.carrillo@banobras.gob.mx,193213-SUBGERENCIADESOLUCIONESTECNOLOGICAS3@banobras.gob.mx" />-->
    <add key="urlReporte" value="http://bnodvarmer-b:5100/api/Riesgos/" />
    <add key="urlToken" value="http://bnodvarmer-b:5100/api/Autenticacion/" />
    <add key="urlParameters" value="sistema_riesgos/testing" />
    <!--<add key="EncryptionKey" value="fG0e7udLwg8+GJSnJaG+TkFWhua1CxjARL8YawTRj7s=" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
    <add key="SMTP.Server.Name" value="correo2.banobras.gob.mx" />
    <add key="EnvironmentVariable" value="SIVARMER_API_RIESGOS_WinS_DEV" />    
  </appSettings>
	
  <log4net>
    <appender name="LogApiSivarmer" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\ApiSivarmer\LogApiSivarmer.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <!--<param name="File" value="C:\\ApiSivarmer\Log.log" />
			<param name="AppendToFile" value="true" />-->
      <!--<param name="rollingStyle" value="Date" />
			<param name="datePattern" value="yyyyMMdd-HHmm" />-->
      <!--<appendToFile value="true" />-->
      <!--<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd-HHmm" />-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogApiSivarmer" />
      <!--<appender-ref ref="ConsoleAppender" />-->
    </root>
  </log4net>
	
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
	
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>